# Binaries
/r-type_server
/r-type_client
/r-type_server.exe
/r-type_client.exe

# Build directories
/build/
/build-windows/

# CPM download cache
/.cpm-cache/

# Local / deployment files
.vercel
.env*